<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Assinantes por plano</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <table style="margin: 0px auto;">
        <caption><b><p style="color:green;font-size:30px">Assinantes por plano</p></b></caption>
        <!-- Table headers -->
            <th>
                <tr style="color: green; ">    
                <td>Nome do plano</td>
                <td>Quantitade de pessoas no plano</td>
                <td>Receita total do plano</td>
        </tr>
            </th>
              
        <!-- For loop logic of jinja template -->
        {%for assinante in lista_assinantes%}
          
        <!-- table rows -->
        <tr>
            <td>{{assinante[0]}}</td>
            <td>{{assinante[1]}}</td>
            <td>{{assinante[2]}}</td>
          
        {%endfor%}
          
        </tr>
          
        </table>
    {% endblock %}
  </body>
</html>
