<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Projeto 5 - Let's Code</title>
  </head>

    {% extends "template.html" %}
    {% block content %}
    <body>

    
    
    <form action="/form" method="POST">
        <div class="container">
        <div class="centro">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label><br>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" name="email"><br><br>
        </div>
        <div class="form-group">
          <label for="exampleInputSenha1">Senha</label><br>
          <input type="text" class="form-control" id="exampleInputSenha1" placeholder="Senha" name="senha"><br><br>
        </div>
        <div class="form-group">
          <label for="exampleInputCPF1">CPF</label><br>
          <input type="text" class="form-control" id="exampleInputCPF1" placeholder="CPF" name="cpf"><br><br>
        </div>
        <div class="form-group">
          <label for="exampleInputNome1">Nome</label><br>
          <input type="text" class="form-control" id="exampleInputNome1" placeholder="Nome" name="nome"><br><br>
        </div>
        <div class="form-group">
          <label for="exampleInputSobrenome1">Sobrenome</label><br>
          <input type="text" class="form-control" id="exampleInputSobrenome1" placeholder="Sobrenome" name="sobrenome"><br><br>
        </div>
        <div class="form-group">
          <label for="exampleInputTelefone1">Telefone</label><br>
          <input type="text" class="form-control" id="exampleInputTelefone1" placeholder="Telefone" name="telefone"><br><br>
        </div>
        <div class="form-group">
          <label for="exampleInputDataNascimento1">Data de Nascimento</label><br>
          <input type="text" class="form-control" id="exampleInputDataNascimento1" placeholder="Data de Nascimento" name="nascimento"><br><br>
        </div>
        <button type="submit">Submit </button>
        </div>
        </div>
      </form>

    {% endblock %}
  </body>
</html>