<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Projeto 5 - Let's Code</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <h1><center> Trabalho realizado para conclusão do módulo 5 </center></h1>
    <p><center> Realiza buscas em um banco de dados de um serviço de streaming </center></p><br><br>    
    <h1><center> Alunos </center></h1>
    <p><center> Gregório Caio</center></p>
    <p><center> Guilherme Cesar</center></p>
    <p><center> João Ferraz</center></p>
    <p><center> José Rafael</center></p>
    <p><center> Lucas Medeiros</center></p>
    <p><center> Mary Moutinho</center></p>
    <p><center> Rodrigo Minoru</center></p>   
    
    {% endblock %}
  </body>
</html>