<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Visualizações</title>
  </head>

  <body>
    {% extends "template.html" %}
    {% block content %}
    <table style="margin: 0px auto;">
        <caption><b><p style="color:green;font-size:30px">Visualizações</p></b></caption>
        <!-- Table headers -->
            <th>
                <tr style="color: green; ">    
                <td>Nome do filme</td>
                <td>Tempo de exibição total</td>
        </tr>
            </th>
              
        <!-- For loop logic of jinja template -->
        {%for titulo in lista_visualizacoes%}
          
        <!-- table rows -->
        <tr>
            <td>{{titulo[1]}}</td>
            <td>{{titulo[2]}}</td>
          
        {%endfor%}
          
        </tr>
          
        </table>
    {% endblock %}
  </body>
</html>
